/* PC */
@media (min-width: 64em) {
    
}

/* Table & mobile */
@media (max-width: 63.9375em) {
    #nav .subnav {
        padding: 5px 12px;
    }
    
    .btn {
        padding: 15px 16px;
    }

    .content-section .contact-info {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-submit-btn {
        font-size: 16px;
    }

    #footer .socials-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 64.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-col-full,
    .s-full-width {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
    
    #header {
        overflow: hidden;
    }
    
    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 8px 40px;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    .member-list .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }
}